# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Large files (optional)
# *.csv

# Streamlit cache
.streamlit/

# Models (if large later)
# models/*.pkl